# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Builds
dist/
build/
client/dist/
server/dist/

# Env & local DB
.env
.env.local
client/.env
server/.env
server/care.db

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/