.shiftcalendar {
    height: 100%;
    box-sizing: border-box;
}
.shift-legend {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    /* background: #f9fafb; */
    border-radius: 0.375rem;
    font-size: 0.875rem;
    height: 3%;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.legend-color {
    width: 16px;
    height: 16px;
    border-radius: 0.25rem;
}

.legend-color.morning {
    background: #fbbf24;
}

.legend-color.afternoon {
    background: #f97316;
}

.legend-color.evening {
    background: #8b5cf6;
}

.legend-color.custom {
    background: #2563eb;
}

.shiftcalendar-view {
    height: 87%;
}