.navigationtab-wrapper {
    width: 20%;
    height: 100vh;
    position: relative;
}

.navigationtab-panel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: #8189D2;
    transition: transform 0.3s ease-in-out;
}


.navigationtab-panel.off {
    transform: translateX(-100%);
}

.navigationtab-panel.on {
    transform: translateX(0);
}

.navigationtab-button-menu-wrapper {
    width: 100%;
    height: 15%;
    margin-bottom: 3vh;
    position: absolute;
    z-index: 2;
}

.navigationtab-button-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    padding: 0px 0px 0px 0px;
    margin: 10% 0px 0px 10%;
    height: 40%;
    width: 20%;
    border-radius: 30%;
}

.navigationtab-button-menu.off {
    background-color: white;
    color: #2C3F70;
}

.navigationtab-button-menu.on {
    background-color: #8189D2;
    color: #FFFFFF;
}

.navigationtab-button-menu:hover {
    background-color: #a8c6f1;
    color: #FFFFFF;
}


.navigationtab-link-wrapper {
    margin-top: auto;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.navigationtab-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: 'inter';
    font-weight: bold;
    cursor: pointer;
    font-size: 1.5vw;
    color: #FFF;
    margin: 0px 0px 5vh 0px;
}

.navigationtab-icon {
    margin: 0vw 0.25vw 0vw 2.75vw;
    font-size: 1.5vw;
    color: #FFF;
}

.navigationtab-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 0;
}