$blueberry: #2C3F70;
$dark-blueberry: #252E47;
$strawberry: #A5231C;
$buttercream: hsl(215, 36%, 84%);
$violet: #8089D2;
$light-violet: #C8CDED;
$meringue: #E8EBED;
$grey: #6E6E6E;
$white: #F6FAFF;
$black: #000000;

@import url('https://fonts.googleapis.com/css?family=Inria+Serif&display=swap');

p, h2, h3, h4, h5, h6, button {
    font: 16px 'Inria Serif', serif;
    color: $black;
}

@mixin respond($breakpoint)
{
    @if $breakpoint=="xl" and (min-width: 1201px)
    {
        @media screen 
        {
            @content;
        }
    }
    @if $breakpoint=="lg"
    {
        @media screen and (max-width: 1200px)
        {
            @content;
        }
    }
    @if $breakpoint=="md"
    {
        @media screen and (max-width: 992px)
        {
            @content;
        }
    }
    @if $breakpoint=="sm"
    {
        @media screen and (max-width: 768px)
        {
            @content;
        }
    }
    @if $breakpoint=="xs"
    {
        @media screen and (max-width: 576px)
        {
            @content;
        }
    }
}
.container
{
    position:relative;
    width: 80%;
    margin: auto;
    @include respond(xl)
    {
        width: 90%;
    }
    @include respond(sm)
    {
        width: 95%;
    }
}

