@import 'global_style.scss';

.box
{
    @include respond(xl) {
        width: 900px;
        height: 700px;
    }
    @include respond(lg) {
        width: 600px;
        height: 800px;
    }
    @include respond(md) {
        width: 500px;
        height: 700px;
    }
    @include respond(sm) {
        width: 400px;
        height: 500px;
    }

    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 20px auto;
}
.h45m40
{
    height: 45%;
    margin-bottom:40px;
}
.h55
{
    height: 55%;
}
.h80m20
{
    height: 80%;
    margin-bottom:20px;
    @include respond(sm){
        height: 90%;
        p 
        {
            font-size: 14px;
        }
    }
}
.h20{
    height: 20%;
}
.bg-wallpaper
{
    background-image:url("../components/img/wallpaper.jpg");
    color: $black;
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box {
    width: 100%;
    border:none;
    font-family: 'Inria Serif', serif;
    background-size: cover;
    box-shadow: 0 4px 10px 0 $violet, 0 -4px 10px 0 $violet;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.register-box1 {
    @extend .register-box;
    background-image: url("../components/img/wallpaper.jpg");
    p 
    {
        font-size: 18px;
        margin:10px 0;
    };
}

.left, .top, .center, .bottom {
  position: static; /* default */
}
.left {
  align-self: flex-start;  /* ensures the section is left-aligned */
  margin-left: 50px;           /* or 1-2rem if you want a small offset */
}
.register-box2 {
    @extend .register-box;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns children to the left */
//   padding-left: 2rem;      /* optional: nudge all content right a bit */
  gap: 1.5rem;             
    h2 
    {
        font-size: 30px;
        font-weight: bold;
        @include respond(md) {
            font-size: 25px;
        }
    }
    button 
    {
        margin-top: 20px;        
    }
}
.btn
{
    width: 120px ;
    background-color: $blueberry;
    color: $white;
    border-radius: 8px;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;

}
.btn:hover
{
    background-color:  $dark-blueberry;
}

.form
{
    // width: 100%;
    font-size:18px;
    font-family: "Inter", sans-serif;
    border:1px solid $grey;
    background-color:$white;
    color: $black;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
    &::placeholder
    {
        font-style: italic;
        color: $grey;

    }
    @include respond(md){
        font-size: 14px;
    }
    
}
.error
{
    color:$red;
    font-size: 14px;
}
.role{
    background-color: $violet;
    border-radius: 0px;
    color: $white;
    border :none;
    font-style: normal;
    
    &.italic{
        font-style: italic;
    }
}

// .select-container {
//     position: relative;
//     select{
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     color: $white;
//     // width: 100%;
//     padding-right: 40px;
//     }
//     .icon {    
//     color: $white;
//     position: absolute;
//     top: 50%;
//     right: 5%;
//     transform: translateY(-50%);
//     pointer-events: none;
//     transition: transform 0.3s ease;
//     transform: translateY(-50%) rotate(0deg);

//     &.open {
//         transform: translateY(-50%) rotate(180deg);}   
//     }

// }
// @import 'global_style.scss';

.select-container {

  &.access-select,
  &.access-input {
    position: relative;
    margin: 0;
  }

  &.access-select {
    .select__control {
        margin: 10px 0;
        padding: 6px 10px;
        padding-right: 35px;
        width: 100%;
        box-sizing: border-box;
        background-color: $white;
        color: $dark-blueberry;
        border: 1px solid $grey;
        border-radius: 5px;
        font-size: 14px;
        line-height: normal;
        cursor: pointer;

        &:hover {
            border-color: darken($grey, 10%);
        }
    }

    .select__menu {
      background-color: $white;
      border: 1px solid $grey;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      z-index: 10;
    }

    .select__option {
        background-color: $white;
        font-size: 14px;
        color: $dark-blueberry;
        font-style: normal;
        cursor: pointer;
        padding: 10px 12px;

        &:hover {
            background-color: $blueberry !important;
            color: $white !important;
        }
        &--is-focused {
        background-color: $white;
        color: $dark-blueberry;
        }

        &--is-selected {
        background-color: $violet;
        color: $white;
        }
    }

    .select__single-value {
        color: $dark-blueberry;
    }

    .select__placeholder {
        color: $grey;
    }

    .select__indicator-separator {
        color: $grey;
        white-space: nowrap;      // Only apply to placeholder
        overflow: hidden;         // Only apply to placeholder
        text-overflow: ellipsis;  
    }
    .client-select__clear-indicator {
      color: $grey;
    }

  }

  &.access-input {
    input {
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
      background-color: $white;
      color: $dark-blueberry;
      border: 1px solid $grey;
      border-radius: 5px;
      font-size: 14px;
      line-height: normal;
      display: block;
    }
  }

  .icon {    
        color: $dark-blueberry;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        pointer-events: none;
        transition: transform 0.3s ease;

        &.open {
            transform: translateY(-50%) rotate(180deg);
        }   
    }
}

.access-token-row {
  display: flex; // override grid
  flex-direction: row;
  gap: 20px;

  .block {
    flex: 1;
    min-width: 0;
  }

  @include respond("xs") {
    flex-direction: column;

    .block {
      width: 100%;
    }
  }
}