@import 'global_style.scss';

.box
{
    @include respond(xl) {
        width: 1000px;
        height: 900px;
    }
    @include respond(lg) {
        width: 700px;
        height: 600px;
    }
    @include respond(md) {
        width: 600px;
        height: 500px;
    }
    @include respond(sm) {
        width: 400px;
        height: 500px;
    }

    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 20px auto;
}
.bg-wallpaper
{
    background-image:url("../components/img/wallpaper.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box {
    width: 100%;
    flex: 4;
    background-size: cover;
    box-shadow: 0 4px 10px 0 $violet, 0 -4px 10px 0 $violet;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.register-box1 {
    @extend .register-box;
    background-image: url("../components/img/wallpaper.jpg");
    margin-bottom: 20px;
    p 
    {
        font-size: 18px;
        margin:10px 0;
    };
}
.left{
    position: absolute;
    left: 10%;
}
.register-box2 {
    @extend .register-box;
    background-color: $white;
    h2 
    {
        font-size: 30px;
        font-weight: bold;
        @include respond(md) {
            font-size: 25px;
        }
    }
    button 
    {
        margin-top: 20px;
        
    }
}
.btn
{
    width: 120px ;
    background-color: $blueberry;
    color: $white;
    border-radius: 8px;
    border: none;
    padding: 5px 20px;
    font-size: 14px;
    transition: background-color 0.3s ease;

}
.btn:hover
{
    background-color:  $dark-blueberry;
}
.form
{
    width: 150%;
    border:none;
    background-color:$light-violet;
    color: $grey;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
}
