@import 'global_style.scss';

.box
{
    @include respond(xl) {
        width: 900px;
        height: 700px;
    }
    @include respond(lg) {
        width: 600px;
        height: 800px;
    }
    @include respond(md) {
        width: 500px;
        height: 700px;
    }
    @include respond(sm) {
        width: 400px;
        height: 500px;
    }
    @include respond(xs){
        width:325px;
        height: 600px;
    }

    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 20px auto;
    overflow: visible; 

}
.h45m40
{
    height: 45%;
    margin-bottom:40px;
}
.h55
{
    height: 55%;
}
.h80m20
{
    height: 80%;
    margin-bottom:20px;
    @include respond(sm){
        height: 90%;
        p 
        {
            font-size: 14px;
        }
    }
}
.h20{
    height: 20%;
}
.bg-wallpaper
{
    background-image:url("../components/img/wallpaper.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: top;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box {
    width: 100%;
    border:none;
    font-family: 'Inria Serif', serif;
    background-size: cover;
    box-shadow: 0 4px 10px 0 $violet, 0 -4px 10px 0 $violet;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    button 
    {
        margin-top: 20px;        
    }
}

.register-box1 {
    @extend .register-box;
    background-image: url("../components/img/wallpaper.jpg");
    p 
    {
        font-size: 18px;
        margin:20px 0px 0px 0px;
    };
}
.left, .top, .center, .bottom {
  position: static; /* default */
}
.left {
  align-self: flex-start;  /* ensures the section is left-aligned */
  margin-left: 2rem;           /* or 1-2rem if you want a small offset */
}
.register-box2 {
    @extend .register-box;
    background-color: $white;
    overflow: visible; // Make sure this allows dropdown to overflow
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* aligns children to the left */
    gap: 1.5rem;             
    h2 
    {
        font-size: 30px;
        font-weight: bold;
        @include respond(md) {
            font-size: 25px;
        }
    }

}

.form
{
    width: 100%;
    font-size:18px;
    font-family: 'Inria Serif', serif;
    font-weight: 400;
    border:none;
    background-color:$white;
    border: 1px solid $grey;
    color: $black;
    border-radius: 10px;
    padding: 10px 14px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    outline: none;
    &::placeholder
    {
        font-style: italic;
        color: $grey;

    }
    @include respond(md){
        font-size: 14px;
    }
    @include respond(sm){
        width: 200px;
    }
    
}
.error
{
    position:absolute;
    color:$red;
    font-size: 14px;
    background-color: lighten($strawberry,0.4);
    padding: 5px auto;
}


.login-label
{
    display: block;
    margin:4px 0px;

}